@font-face {
	font-family: 'poeredcoat';
	src: url('../fonts/PoeRedcoatNewBold-rJZ7.ttf') format('truetype');
	font-display: swap;
	font-weight: bold;
}

@font-face {
	font-family: 'roboto';
	src: url('../fonts/Roboto.ttf') format('truetype');
	font-display: swap;
}
