@use '../base/variables' as *;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html.scroll-lock,
body.scroll-lock {
	position: relative;
	overflow: hidden;
}

body.scroll-lock {
	padding-right: 15px;
	transition: padding-right 0.3s;
}

a {
	color: inherit;
	text-decoration: none;
}

h5 {
	font-size: $h5-fontsize;
}

h4 {
	font-size: $h4-fontsize;
}

h3 {
	font-size: $h3-fontsize;
}

h2 {
	font-size: $h2-fontsize;
}

p {
	font-size: $p-fontsize;
}

li {
	list-style: none;
}
