* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

html.scroll-lock,
body.scroll-lock {
	position: relative;
	overflow: hidden;
}

body.scroll-lock {
	padding-right: 15px;
	transition: padding-right 0.3s;
}

a {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}
