$primary: #ad0a17;
$text: #f4f1ee;
$hover-light: #dbd9d6;
$text-dark: #222222;

$border-radius: 12px;

$h1-fontsize: clamp(2.5rem, 6vw + 1.2rem, 6rem);
$h2-fontsize: clamp(2rem, 5.5vw + 1.3rem, 4.5rem);
$h3-fontsize: clamp(1.5rem, 4.5vw + 1.2rem, 3.5rem);
$h4-fontsize: clamp(1.2rem, 3.5vw + 1rem, 2.5rem);
$h5-fontsize: clamp(1rem, 2.5vw + 0.8rem, 2rem);

$p-title-fontsize: clamp(1rem, 1vw + 0.5rem, 1.2rem);
$p-fontsize: clamp(0.85rem, 1vw + 0.3rem, 1rem);

@mixin body-style {
	display: grid;
	grid-template-rows: 1fr auto;
	min-height: 100vh;
	font-family: 'roboto', sans-serif;
	color: $text;
	-webkit-font-smoothing: antialiased;
	background: fixed linear-gradient(transparent, #111 70%),
		fixed
			repeating-linear-gradient(
				rgba(255, 255, 255, 0.09),
				rgba(255, 255, 255, 0.09) 1px,
				transparent 1px,
				transparent 40px
			),
		fixed
			repeating-linear-gradient(
				to right,
				rgba(255, 255, 255, 0.09),
				rgba(255, 255, 255, 0.09) 1px,
				transparent 1px,
				transparent 40px
			),
		#0a0a0a;
}
